{% extends "layouts/navbar.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}
<div class="container pt-3">
    <form action="{{ url_for('signup') }}" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Username" aria-describedby="helpId">
          <small id="helpId" class="text-muted"></small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password" aria-describedby="helpId">
          <small id="helpId" class="text-muted"></small>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" aria-describedby="helpId">
          <small id="helpId" class="text-muted"></small>
        </div>

        <div class="d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a href="{{ url_for('index') }}">
                <button type="button" class="btn btn-outline-primary">Cancel</button>
            </a>
        </div>
    </form>
</div>
{% endblock content %}
