<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
    </head>
    <body>
      <h1>{{ user.username }}</h1>
      <div>
        <article>{{ user.email }}</article>
        <form action={{ url_for('user/' + username) }}, method="POST">
          <input type="text" name="username" value="{{ user.username }}"></input>
          <button type="submit">修改</button>
        </form>
      </div>
    </body>
</html>